<div class="col-lg-12">
    <h1 class="page-header">Paintings</h1>
</div>

<div id="paintings" class="row">
  <% @paintings.each do |painting| %>
    <%= render painting %>
  <% end %>
</div>

<% if false %>
<div id="uploader-fixed">
  <%= form_for Painting.new, html: { multipart: true } do |f| %>
    <p>
      <%= f.label :image, "Upload images" %>
      <%= f.file_field :image, :multiple => true, name: "painting[image]" %>
    </p>
  <% end %>
</div>
<% end %>
